<div class="fluid-container text-center">
    <div class="row title pt-4 justify-content-center">
        <div class="col-12">
            <img src="assets/img/FLOBROLOGO-white.gif" alt="image">
        </div>
        <span class="col-3 mt-3"><ngb-progressbar showValue="true" type="secondary" [value]="getPercentage"></ngb-progressbar></span>
        <span class="col-12 main-title mb-2">MY FITBODY PROGRAM</span>
        <span class="col-12 sub-title">"THE FASTEST WAY TO REACH YOUR FITNESS GOALS GUARENTEED!"</span>
    </div>
    <div class="row sections">
        <div class="col-6 col-lg-3 py-2 active"
            (click)="handleOnClick('P')">
            <fa-icon  [icon]="['fas', 'user']" size="2x"></fa-icon>
            <div>BODY PROFILE</div>
        </div>
        <div class="col-6 col-lg-3 py-2" [ngClass]="{'active': trainingSection}"
            (click)="trainingSection && handleOnClick('T')">
            <fa-icon [icon]="['fas', 'dumbbell']" size="2x"></fa-icon>
            <div>TRAINING</div>
        </div>
        <div class="col-6 col-lg-3 py-2" [ngClass]="{'active': nutritionSection}"
            (click)="nutritionSection && handleOnClick('N')">
            <fa-icon [icon]="['fas', 'utensils']" size="2x"></fa-icon>
            <div>NUTRITION</div>
        </div>
        <div class="col-6 col-lg-3 py-2" [ngClass]="{'active': confirmSection}"
            (click)="handleOnClick('C')">
            <fa-icon [icon]="['fas', 'clipboard-list']" size="2x"></fa-icon>
            <div>CONFIRM</div>
        </div>
    </div>
</div>
