.text-center
    text-align: center

.row > div
    border: 1px solid rgba(186, 186, 186, 1)
    background-color: rgba(186, 186, 186, 1)
    cursor: pointer

.container .active
    background-color: #184163
    color: white

// .container
//     position: sticky
//     top: 0px
:host 
    position: fixed
    top: 0
    width: 100%
    z-index: 4
      