<div class="container">
    <div class="row text-center">
        <div class="col-6 col-lg-3 py-2" [ngClass]="{'active': trainingSection}"
            (click)="handleOnClick('P')">
            <fa-icon  [icon]="['fas', 'user']" size="2x"></fa-icon>
            <div>BODY PROFILE</div>
        </div>
        <div class="col-6 col-lg-3 py-2" [ngClass]="{'active': nutritionSection}"
            (click)="trainingSection && handleOnClick('T')">
            <fa-icon [icon]="['fas', 'dumbbell']" size="2x"></fa-icon>
            <div>TRAINING</div>
        </div>
        <div class="col-6 col-lg-3 py-2"
            (click)="nutritionSection && handleOnClick('N')">
            <fa-icon [icon]="['fas', 'utensils']" size="2x"></fa-icon>
            <div>NUTRITION</div>
        </div>
        <div class="col-6 col-lg-3 py-2"
            (click)="handleOnClick('C')">
            <fa-icon [icon]="['fas', 'clipboard-list']" size="2x"></fa-icon>
            <div>CONFIRM</div>
        </div>
    </div>
</div>