.text-center
    text-align: center

.row > div
    border: 1px solid rgba(186, 186, 186, 1)
    background-color: rgba(186, 186, 186, 1)

// .container
//     position: sticky
//     top: 0px
:host 
    position: fixed
    top: 0
    width: 100%
      