<app-header></app-header>
<div class="container">

  <!-- 

      BODY PROFILE

     -->
  <div class="row">
    <div class="col-12 text-center">
      <h1>Body Profile</h1>
    </div>
    <div class="col-6">
      <p>The first phase, Body Profile, is the most important segment of the My Fitbody Program. It's the building block
        that sets the foundation for the formulation of your ideal fitness plan.</p>
      <p>In this phase the program gathers key factors that varies amongst individuals to eliminate guess work and to
        increase its accuracy.</p>
      <p>Variables such as age, sex, weight, height, body type and a few others are all considered in how your set
        fitness goal can be efficiently attained.</p>
      <p>The Body Profile phase plays the ultimate role in the integration process of the My Fitbody Program. Complete
        the segment below and get one step closer to your ideal fitness plan.</p>
      <p>Contact Us: <a> Live Chat</a> </p>
      <p>If you need assistance or have questions.</p>
    </div>
    <div class="col-6">
      <img src="https://placekitten.com/g/570/380" />
    </div>
  </div>

  <br/>
  <!-- First Section -->
  <div class="row">
    <div class="col-12">
      <h2>User Profile</h2>
      <div class="row">
        <div class="col-12">
          <h3>Personal Stats</h3>
          <h5>Complete the user stats form as accurately as possible.</h5>
        </div>
        <div class="col-12">
          <h4>What is your gender?</h4>
        </div>
        <div class="col-12">
          <h4>How old are you?</h4>
        </div>
        <div class="col-12">
          <h4>How tall are you?</h4>
        </div>
        <div class="col-12">
          <h4>How much do you weigh?</h4>
        </div>
        <div class="col-12">
          <h4>What is your body fat %?</h4>
        </div>
        <div class="col-12">
          <h4>What is your body type?</h4>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <!-- Second Section -->
  <div class="row">
    <div class="col-12">
      <h2>Current Acticity Output</h2>
      <div class="row">
        <div class="col-12">
          <h3>USER ACTIVITY LEVEL</h3>
          <h5>Select the activity level that best describes your current physical life.</h5>
        </div>
        <div class="col-12">
          <toggle-button [on]="capi" (toggled)="onToggled($event)"></toggle-button>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <!-- Third Section -->
  <div class="row">
    <div class="col-12">
      <h2>Repose Assessment</h2>
      <div class="row">
        <div class="col-12">
          <h3>SLEEP GAUGE</h3>
          <h5>Specify, on average, the total daily time you spend asleep.</h5>
        </div>
        <div class="col-12">
          <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <!-- Fourth Section -->
  <div class="row">
    <div class="col-12">
      <h2>Problematic Areas - PT 1</h2>
      <div class="row">
        <div class="col-12">
          <h3>INJURY ASSESSMENT</h3>
          <h5>Specify, which body parts, if any, you're currently experiencing physical setbacks with because of
            past/current injuries.</h5>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <!-- Fith Section -->
  <div class="row">
    <div class="col-12">
      <h2>Set Fitness Goal - PT 1</h2>
      <div class="row">
        <div class="col-12">
          <h3>PHYSIQUE OBJECTIVES</h3>
          <h5>Specify, which body parts, if any, you're currently experiencing physical setbacks with because of
            past/current injuries.</h5>
        </div>
      </div>
    </div>
  </div>


  <!-- 

      TRAINING
      
     -->
  <div class="row">
    <div class="col-12 text-center">
      <h1>Training</h1>
    </div>
  </div>

  <br/>
  <!-- Sixth Section -->
  <div class="row">
    <div class="col-12">
      <h2>Workout Schedule</h2>
      <div class="row">
        <div class="col-12">
          <h3>TRAINING FREQUENCY</h3>
          <h5>Specify the available training days you prefer in a 7 day week, with 6 days being the maximum. Afterward,
            select the number of training sessions you prefer for each particular day, with 2 sessions being the
            maximum. </h5>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <!-- Seventh Section -->
  <div class="row">
    <div class="col-12">
      <h2>Experience Level</h2>
      <div class="row">
        <div class="col-12">
          <h3>TRAINING SKILL</h3>
          <h5>Select the experience level that best describes your exercise skill/competence.</h5>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <!-- Eigth Section -->
  <div class="row">
    <div class="col-12">
      <h2>Set Fitness Goal - PT 2</h2>
      <div class="row">
        <div class="col-12">
          <h3>TRAINING OBJECTIVES</h3>
          <h5>Choose your desired goal for each muscle group from the list of below. Your choice plays a crucial role in
            the formulation of your personal fitness plan and will be factored into your training regime.</h5>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <!-- Ninth Section -->
  <div class="row">
    <div class="col-12">
      <h2>Problematic Areas - PT 2</h2>
      <div class="row">
        <div class="col-12">
          <h3>PRIORITIZED MUSCLE GROUPS</h3>
          <h5>Specify, which muscle groups, if any, you consider to be a weakness in regards to muscularity or
            performance objective. Afterward, using the number scale, rate the weakness of the specified muscle, from
            minor to major, with the lowest value, '1', representing very minor.</h5>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <!-- Tenth Section -->
  <div class="row">
    <div class="col-12">
      <h2>Training Style</h2>
      <div class="row">
        <div class="col-12">
          <h3>EXERCISE REGIME</h3>
          <h5>Select each equipment to identify the training arsenal you have access to and/or prefer to work with.</h5>
        </div>
      </div>
    </div>
  </div>


  <!-- 
      
    NUTRITION

     -->
  <div class="row">
    <div class="col-12 text-center">
      <h1>Nutrition</h1>
    </div>
  </div>

  <br/>
  <!-- Eleventh Section -->
  <div class="row">
    <div class="col-12">
      <h2>Eating Schedule</h2>
      <div class="row">
        <div class="col-12">
          <h3>MEAL FREQUENCY</h3>
          <h5>Select the amount of meals you prefer to consume in a day.</h5>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <!-- Twelvth Section -->
  <div class="row">
    <div class="col-12">
      <h2>Diet Preference</h2>
      <div class="row">
        <div class="col-12">
          <h3>MACRO COUNTING DIETING</h3>
          <h5>The macro diet has been gaining a lot of popularity because of its flexibility regarding food choices.
            This philosophy is based on scientific studies showing that the most important factor in losing or gaining
            weight is quantity of calories consumed. Below are the top macro ratio diets that have a proven history of
            effectiveness. Select the diet regime you prefer to follow.</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <h1>Confirm</h1>
    </div>
    <div class="col-6">
      <p>You've now completed all 3 phases of the My Fitbody Progam! Below are confirmation boxes, from all three
        phases, with your submitted content. Review your input for errors and ensure the information is accurate.</p>
      <p>If you are not satisfied with your submissions click the phase button, either in the header of the
        confirmations box or on the phase tracker above to make changes. Once you are satisfied, click the save &
        continue button in the segment to store the new submissions. Afterward, click the confirm check button in the
        phase tracker above to return back to the confirm segment.</p>
      <p>Review your content once more and enter your name & additional comments in the specified input box. Afterward
        click the submit button to finalize the My Fitbody Program.</p>
      <p>Contact Us: <a>Live Chat</a></p>
      <p>If you need assistance or have questions.</p>
    </div>
    <div class="col-6">
      <img src="https://placekitten.com/g/570/380" />
    </div>
  </div>
</div>