<app-header></app-header>
<div class="container">

  <!-- 

      BODY PROFILE

     -->
  <div class="row">
    <div class="col-12 text-center">
      <span class="major-title-txt">BODY PROFILE</span>
    </div>
    <div class="col-12 col-lg-6">
      <p>The first phase, Body Profile, is the most important segment of the My Fitbody Program. It's the building block
        that sets the foundation for the formulation of your ideal fitness plan.</p>
      <p>In this phase the program gathers key factors that varies amongst individuals to eliminate guess work and to
        increase its accuracy.</p>
      <p>Variables such as age, sex, weight, height, body type and a few others are all considered in how your set
        fitness goal can be efficiently attained.</p>
      <p>The Body Profile phase plays the ultimate role in the integration process of the My Fitbody Program. Complete
        the segment below and get one step closer to your ideal fitness plan.</p>
      <p>Contact Us: <a> Live Chat</a> </p>
      <p>If you need assistance or have questions.</p>
    </div>
    <div class="col-12 col-lg-6">
      <img src="https://placekitten.com/g/300/300" />
    </div>
  </div>

  <br />
  <!-- First Section -->
  <div class="row">
    <div class="col-12">
      <span class="title-txt">USER PROFILE</span>
      <div class="row justify-content-center">
        <div class="col-12">
          <span class="subtitle-txt">Personal Stats</span>
          <p class="subtitle-description-txt">Complete the user stats form as accurately as possible.</p>
        </div>
        <div class="col-12 col-lg-11">
          <div class="row">
            <div class="col-12">
              <h4>What is your gender?</h4>
              <div class="row justify-content-center">
                <div class="col-4 col-lg-2 text-right">Woman</div>
                <div class="col-3 col-lg-1">
                  <toggle-button [on]="profile.gender" (toggled)="onGenderToggle($event)"></toggle-button>
                </div>
                <div class="col-4 col-lg-2">Man</div>
              </div>
            </div>
            <div class="col-12">
              <h4>How old are you?</h4>
              <div class="row justify-content-center">
                <div class="col-12 col-lg-4">
                  <ng5-slider [(value)]="profile.age" [options]="ageOptions"></ng5-slider>
                </div>
              </div>
            </div>
            <div class="col-12">
              <h4>How tall are you?</h4>
              <div class="row justify-content-center">
                <div class="col-12 col-lg-4">
                  <ng5-slider [(value)]="profile.height" [options]="heightOptions"></ng5-slider>
                </div>
              </div>
            </div>
            <div class="col-12">
              <h4>How much do you weigh?</h4>
              <div class="row justify-content-center">
                <div class="col-12 col-lg-4">
                  <ng5-slider [(value)]="profile.weight" [options]="weightOptions"></ng5-slider>
                </div>
              </div>
            </div>
            <div class="col-12">
              <h4>What is your body fat %?</h4>
              <div class="row justify-content-center">
                <div class="col-12 col-lg-4">
                  <ng5-slider [(value)]="profile.fatPercentage" [options]="fatPercentageOptions"></ng5-slider>
                </div>
              </div>
            </div>
            <div class="col-12">
              <h4>What is your body type?</h4>
              <div class="row justify-content-center text-center">
                <ng-container *ngFor="let item of bodyTypes; let i = index">
                  <div class="col-7 col-lg-3 py-2 mx-2 my-1 fake-btn" [ngClass]="{'selected': item.selected}"
                    (click)="onSelect(i, 'TYPE')">
                    <h5>{{item.type}}</h5>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <!-- Second Section -->
  <div class="row">
    <div class="col-12">
      <span class="title-txt">CURRENT ACTIVITY OUTPUT</span>
      <div class="row justify-content-center">
        <div class="col-12">
          <span class="subtitle-txt">USER ACTIVITY LEVEL</span>
          <p class="subtitle-description-txt">Select the activity level that best describes your current physical life.</p>
        </div>
        <div class="col-12 col-lg-11">
          <div class="row">
            <div class="col-12">
              <h4>How Active Is Your Job & Daily Routine?</h4>
            </div>
          </div>
          <ng-container *ngFor="let item of activityTypes; let i = index">
            <div class="row justify-content-center my-2">
              <div class="col-11 col-lg-5 fake-btn py-2" [ngClass]="{'selected': item.selected}"
                (click)="onSelect(i, 'ACTIVITY')">
                <div class="row">
                  <div class="col-5">
                    <h5>{{item.type}}</h5>
                  </div>
                  <div class="col-7">
                    <h6>{{item.description}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <br />
  <!-- Third Section -->
  <div class="row">
    <div class="col-12">
      <span class="title-txt">REPOSE ASSESSMENT</span>
      <div class="row justify-content-center">
        <div class="col-12">
          <span class="subtitle-txt">SLEEP GAUGE</span>
          <p class="subtitle-description-txt">Specify, on average, the total daily time you spend asleep.</p>
        </div>
        <div class="col-12 col-lg-11">
          <div class="row">
            <div class="col">
              <h4>How Much Time Do You Spend At Rest?</h4>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
              <ng5-slider [(value)]="profile.sleepTime" [options]="sleepTimeOptions"></ng5-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <!-- Fourth Section -->
  <div class="row">
    <div class="col-12">
      <span class="title-txt">PROBLEMATIC AREAS-PT I</span>
      <div class="row justify-content-center">
        <div class="col-12">
          <span class="subtitle-txt">INJURY ASSESSMENT</span>
          <p class="subtitle-description-txt">Specify, which body parts, if any, you're currently experiencing physical setbacks with because of
            past/current injuries.</p>
        </div>
        <div class="col-12 col-lg-11">
          <div class="row">
            <div class="col">
              <h4>Have You Sustained Any Injuries That Currently Pose A Physical Setback For You? If You Have, Specify
                What Body Parts.</h4>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-4 col-lg-1 text-right">Do Not</div>
            <div class="col-3 col-lg-1">
              <toggle-button [on]="profile.physicalSetback" (toggled)="onPhysicalSetBackToggle($event)"></toggle-button>
            </div>
            <div class="col-4 col-lg-1">Do</div>
          </div>
          <ng-container *ngIf="profile.physicalSetback">
            <div class="row justify-content-center my-2" *ngFor="let item of setbackTypes; let i = index">
              <div class="col-12 col-lg-5 fake-btn py-2" [ngClass]="{'selected': item.selected}"
                (click)="onSelect(i, 'SETBACK')">
                <div class="row">
                  <div class="col-5">
                    <h5>{{item.type}}</h5>
                  </div>
                  <div class="col-7">
                    <h6>{{item.description}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <br />
  <!-- Fith Section -->
  <div class="row justify-content-center">
    <div class="col-12">
      <span class="title-txt">SET FITNESS GOAL-PT I</span>
      <div class="row justify-content-center">
        <div class="col-12">
          <span class="subtitle-txt">PHYSIQUE OBJECTIVES</span>
          <p class="subtitle-description-txt">Specify, which body parts, if any, you're currently experiencing physical setbacks with because of
            past/current injuries.</p>
        </div>
        <div class="col-12 col-lg-11">
          <div class="row">
            <div class="col-12">
              <h4>What Is Your Physique Objective?</h4>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-3 col-lg-1 objective-height">
              <ng5-slider [(value)]="profile.objectives" [options]="objectiveOptions"></ng5-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-11 col-lg-3 fake-btn selected my-2 py-2 text-center" (click)="profileSectionComplete()">
      <h5>Save and Continue</h5>
    </div>
  </div>


  <!-- 

      TRAINING
      
     -->
  <ng-container *ngIf="trainingSection">
  <div class="row" id="trainingSection">
    <div class="col-12 text-center">
      <span class="major-title-txt">TRAINING</span>
    </div>
    <div class="col-12 col-lg-6">
      <p>The second phase, Training, makes up one half of your generated fitness plan. It’s the vehicle of the My
        Fitbody Program that drives you to your fitness goals.</p>
      <p>In this phase the program collects the key factors required to craft a personalized exercise regime that meets
        your individual needs in the most optimal and efficient manner.</p>
      <p>Factors such as training frequency, experience level, fitness goal, problematic areas and training style are
        all necessary ingredients used in conjunction with data collected from the Body Profile segment, to formulate
        the perfect workout plan.</p>
      <p>The Training phase plays a crucial role in the integration process of the My Fitbody Program. Complete the
        segment below to get one step closer to your ideal fitness plan.</p>
      <p>Contact Us: <a> Live Chat</a> </p>
      <p>If you need assistance or have questions.</p>
    </div>
    <div class="col-12 col-lg-6">
      <img src="https://placekitten.com/g/300/300" />
    </div>
  </div>

  <br />
  <!-- Sixth Section -->
  <div class="row">
    <div class="col-12">
      <span class="title-txt">WORKOUT SCHEDULE</span>
      <div class="row justify-content-center">
        <div class="col-12">
          <span class="subtitle-txt">TRAINING FREQUENCY</span>
          <p class="subtitle-description-txt">Specify the available training days you prefer in a 7 day week, with 6 days being the maximum. Afterward,
            select the number of training sessions you prefer for each particular day, with 2 sessions being the
            maximum.</p>
        </div>
        <div class="col-12 col-lg-11">
          <div class="row">
            <div class="col">
              <h4>How Many Training Sessions Do Your Prefer In 6 Day Week?</h4>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
              <ng5-slider [(value)]="frequency.days" (userChange)="handleUserChange('FREQUENCY')"
                [options]="frequencyOptions"></ng5-slider>
            </div>
          </div>
          <div class="row justify-content-center text-center">
            <ng-container *ngFor="let item of frequencyTypes; let i = index">
              <div class="col-3 col-lg-2" *ngIf="item.selected">
                <div class="row justify-content-center">
                  <div class="col-12">
                    {{item.type}}
                  </div>
                  <div class="col-12">
                    Sessions: {{item.sessions}}
                  </div>
                  <div class="col-12 col-lg-6">
                    <toggle-button [on]="item.multipleDays" (toggled)="onSelect(i, 'FREQUENCY')"></toggle-button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <!-- Seventh Section -->
  <div class="row">
    <div class="col-12">
      <span class="title-txt">EXPERIENCE LEVEL</span>
      <div class="row justify-content-center">
        <div class="col-12">
          <span class="subtitle-txt">TRAINING SKILL</span>
          <p class="subtitle-description-txt">Select the experience level that best describes your exercise skill/competence.</p>
        </div>
        <div class="col-12 col-lg-11">
          <div class="row">
            <div class="col-12">
              <h4>What Is Your Present Training Experience Level?</h4>
            </div>
          </div>
          <div class="row justify-content-center text-center">
            <ng-container *ngFor="let item of levelTypes; let i = index">
              <div class="col-11 col-lg-3 py-2 mx-2 my-1 fake-btn" [ngClass]="{'selected': item.selected}"
                (click)="onSelect(i, 'LEVEL')">
                <h5>{{item.type}}</h5>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <!-- Eigth Section -->
  <div class="row">
    <div class="col-12">
      <span class="title-txt">SET FITNESS GOAL-PT II</span>
      <div class="row justify-content-center">
        <div class="col-12">
          <span class="subtitle-txt">TRAINING OBJECTIVES</span>
          <p class="subtitle-description-txt">Choose your desired goal for each muscle group from the list of below. Your choice plays a crucial role in
            the formulation of your personal fitness plan and will be factored into your training regime.</p>
        </div>

        <ng-container *ngFor="let item of goalTypes; let i = index">
          <div class="col-12 col-lg-11">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-2">
                <h4>{{item.type}}</h4>
              </div>

              <div class="col-4 col-lg-2 text-right">Build Mass</div>
              <div class="col-3 col-lg-1">
                <toggle-button [on]="item.muscularity" (toggled)="onSelect(i, 'GOAL_M')"></toggle-button>
              </div>
              <div class="col-4 col-lg-2">Shape/Tone</div>

              <div class="col-4 col-lg-2 text-right">Strength</div>
              <div class="col-3 col-lg-1">
                <toggle-button [on]="item.strength" (toggled)="onSelect(i, 'GOAL_S')"></toggle-button>
              </div>
              <div class="col-4 col-lg-2">Endurance</div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>

  <br />
  <!-- Ninth Section -->
  <div class="row">
    <div class="col-12">
      <span class="title-txt">PROBLEMATIC AREAS-PT II</span>
      <div class="row justify-content-center">
        <div class="col-12">
          <span class="subtitle-txt">PRIORITIZED MUSCLE GROUPS</span>
          <p class="subtitle-description-txt">Specify, which muscle groups, if any, you consider to be a weakness in regards to muscularity or
            performance objective. Afterward, using the number scale, rate the weakness of the specified muscle, from
            minor to major, with the lowest value, '1', representing very minor.</p>
        </div>
        <div class="col-12">
          <div class="row justify-content-center">
            <div class="col-4 col-lg-2 text-right">Do Not</div>
            <div class="col-3 col-lg-1">
              <toggle-button [on]="mucleWeakneses" (toggled)="onToggled()"></toggle-button>
            </div>
            <div class="col-4 col-lg-2">Do</div>
          </div>
        </div>
        <div class="col-12" *ngIf="mucleWeakneses">

          <ng-container *ngFor="let item of muscleTypes; let i = index">
            <div class="row my-2 justify-content-center">
              <div class="col-12 col-lg-6">
                <div class="row justify-content-center py-2 fake-btn" [ngClass]="{'selected': item.selected}"
                  (click)="onSelect(i, 'MUSCLE')">
                  <div class="col-4 col-lg-2">
                    <h5>{{item.type}}</h5>
                  </div>
                  <div class="col-8 col-lg-10">
                    <h5>{{item.description}}</h5>
                  </div>
                </div>
                <ng-container *ngIf="item.selected">
                  <div class="row justify-content-center" *ngFor="let subitem of item.subitems; let i = index">
                    <div class="col-12 col-lg-9">
                      <h4>{{subitem.subtype}}</h4>
                      <ng5-slider [(value)]="subitem.sessions" [options]="mucleOptions"></ng5-slider>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>

      </div>
    </div>
  </div>

  <br />
  <!-- Tenth Section -->
  <div class="row justify-content-center text-center">
    <div class="col-12">
      <span class="title-txt">TRAINING STYLE</span>
      <div class="row justify-content-center">
        <div class="col-12">
          <span class="subtitle-txt">EXERCISE REGIME</span>
          <p class="subtitle-description-txt">Select each equipment to identify the training arsenal you have access to and/or prefer to work with.</p>
        </div>
        <div class="col-12 col-lg-11">
          <div class="row">
            <div class="col-12">
              <h4>Which training equipment do you have access to & prefer to utilize for your workouts?</h4>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
              <div class="row justify-content-center text-center">
                <ng-container *ngFor="let item of trainingTypes; let i = index">
                  <div class="col-5 col-lg-4 py-2 my-1 mx-2 fake-btn" [ngClass]="{'selected': item.selected}"
                    (click)="onSelect(i, 'TRAINING')">
                    <h5>{{item.type}}</h5>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-11 col-lg-3 fake-btn selected my-2 py-2" (click)="trainingSectionComplete()">
      <h5>Save and Continue</h5>
    </div>
  </div>
  </ng-container>


  <!-- 
      
    NUTRITION

     -->
  <ng-container *ngIf="nutritionSection">
  <div class="row" id="nutritionSection">
    <div class="col-12 text-center">
      <span class="major-title-txt">NUTRITION</span>
    </div>
    <div class="col-12 col-lg-6">
      <p>The final phase, Nutrition, is the most favored segment of the My Fitbody Program. Nutrition is the fuel that
        helps power the drive to your fitness goals.</p>
      <p>In this phase the program engages users to specify their dietary needs thus identifying what works and tastes
        best to them.</p>
      <p>Elements such as meal frequency and diet preference are integrated with data from the Body Profile segment to
        generate the perfect diet regime.</p>
      <p>The Nutrition phase plays a vital role in the integration process of the My Fitbody Program. Complete the final
        segment below and claim your ideal fitness plan.</p>
      <p>Contact Us: <a> Live Chat</a> </p>
      <p>If you need assistance or have questions.</p>
    </div>
    <div class="col-12 col-lg-6">
      <img src="https://placekitten.com/g/300/300" />
    </div>
  </div>

  <br />
  <!-- Eleventh Section -->
  <div class="row">
    <div class="col-12">
      <span class="title-txt">Eating Schedule</span>
      <div class="row justify-content-center">
        <div class="col-12">
          <span class="subtitle-txt">MEAL FREQUENCY</span>
          <p class="subtitle-description-txt">Select the amount of meals you prefer to consume in a day.</p>
        </div>
        <div class="col-12 col-lg-11">
          <div class="row justify-content-center">
            <div class="col-12">
              <h4>How Many Meals Do You Prefer To Eat In A Day?</h4>
            </div>
            <div class="col-12 col-lg-4">
              <ng5-slider [(value)]="profile.mealAmount" [options]="mealOptions"></ng5-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <!-- Twelvth Section -->
  <div class="row">
    <div class="col-12">
      <span class="title-txt">Diet Preference</span>
      <div class="row justify-content-center">
        <div class="col-12">
          <span class="subtitle-txt">MACRO COUNTING DIETING</span>
          <p class="subtitle-description-txt">The macro diet has been gaining a lot of popularity because of its flexibility regarding food choices.
            This philosophy is based on scientific studies showing that the most important factor in losing or gaining
            weight is quantity of calories consumed. Below are the top macro ratio diets that have a proven history of
            effectiveness. Select the diet regime you prefer to follow.</p>
        </div>
        <div class="col-12 col-lg-11">
          <div class="row">
            <div class="col-12">
              <h4>Which Dietary Macro-Nutrient Selection Do You Prefer? </h4>
            </div>
          </div>
          <div class="row justify-content-center text-center">
            <ng-container *ngFor="let item of macroTypes; let i = index">
              <div class="col-5 col-lg-3 py-2 my-1 mx-2 fake-btn" [ngClass]="{'selected': item.selected}"
                (click)="onSelect(i, 'MACRO')">
                <h5>{{item.type}}</h5>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <h3>10 seconds between slides...</h3>
                <p>This carousel uses customized default values.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide">
              </div>
              <div class="carousel-caption">
                <h3>No mouse events...</h3>
                <p>This carousel doesn't pause or resume on mouse events</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[2]"  alt="Random third slide">
              </div>
              <div class="carousel-caption">
                <h3>No keyboard...</h3>
                <p>This carousel uses customized default values.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[3]" alt="Random fourth slide">
              </div>
              <div class="carousel-caption">
                <h3>And no wrap after last slide.</h3>
                <p>This carousel uses customized default values.</p>
              </div>
            </ng-template>
          </ngb-carousel>      
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center text-center">
    <div class="col-12 text-center">
      <h1>Confirm</h1>
    </div>
    <div class="col-12">
      <p>You've now completed all 3 phases of the My Fitbody Progam! Below are confirmation boxes, from all three
        phases, with your submitted content. Review your input for errors and ensure the information is accurate.</p>
      <p>If you are not satisfied with your submissions click the phase button, either in the header of the
        confirmations box or on the phase tracker above to make changes. Once you are satisfied, click the save &
        continue button in the segment to store the new submissions. Afterward, click the confirm check button in the
        phase tracker above to return back to the confirm segment.</p>
      <p>Review your content once more and enter your name & additional comments in the specified input box. Afterward
        click the submit button to finalize the My Fitbody Program.</p>
      <p>Contact Us: <a>Live Chat</a></p>
      <p>If you need assistance or have questions.</p>
    </div>
    <div class="col-11 col-lg-3 fake-btn selected my-2 py-2" (click)="submitEmail()">
      <h5>Save and Continue</h5>
    </div>
  </div>
  </ng-container>
</div>