.text-center
    text-align: center

.text-right
    text-align: right

.text-left
    text-align: left

::ng-deep  .ng5-slider .ng5-slider-span.ng5-slider-pointer
    background-color: rgba(24, 65, 99, 1)

.profile
    margin-top: 320px

.fbf-blue
    color: rgba(24, 65, 99, 1)

.fake-btn
    border: solid rgba(24, 65, 99, 1) 2px
    border-radius: 5px
    cursor: pointer

.fake-btn.selected
    background-color: rgba(24, 65, 99, 1)
    color: #FFFFFF

.objective-height
    height: 300px


.major-title-txt
    font-size: 56px
    font-weight: 900

.title-txt
    font-size: 48px
    font-weight: 700

.title-txt span
    background-color: rgba(24, 65, 99, 1)
    color: #FFFFFF
    padding: 0 5px

.subtitle-txt
    font-size: 42px
    color: rgba(24, 65, 99, 1)
    font-weight: 500
    text-transform: capitalize

.subtitle-description-txt
    font-size: 24px
    color: #757575

.question-title-txt
    font-size: 32px

.question-answer-txt
    font-size: 29px

.disabled
    background-color: #bababa
    color: black
    cursor: not-allowed
    border: solid #bababa 2px

img
    height: 300px
    width: 300px