.text-center
    text-align: center

.text-right
    text-align: right

.text-left
    text-align: left

::ng-deep  .ng5-slider .ng5-slider-span.ng5-slider-pointer
    background-color: rgba(24, 65, 99, 1)

.fake-btn
    border: solid rgba(24, 65, 99, 1) 2px
    border-radius: 5px

.fake-btn.selected
    background-color: rgba(24, 65, 99, 1)
    color: #FFFFFF

.objective-height
    height: 300px